.container{
    width: 70%;
    height: 450px;
    margin: 100px 0 0 200px;
    justify-content: center;
    gap: 10px;
    display: flex;
}

body{
    background-color: black;
}
.container img{
width: 10%;
height: 100%;
object-fit: cover;
border-radius: 10px;
border: 2px solid white;
transition: all ease-in-out 0.5s;
}

.container img:hover{
    width: 25%;
    transition: all ease-in 0.5s;
}